html {
	position fixed;
	min-height: 100%;
}

body {
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
	color: rgb( 255,255,255 );
}

html,
body {
	overflow: hidden;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	background: 	-webkit-linear-gradient( 21deg, rgb( 52,50,52 ), rgb( 104,100,104 ) );
	background: 					linear-gradient( 21deg, rgb( 52,50,52 ), rgb( 104,100,104 ) );
}

footer {
  padding: 30px 0;
}

#logo_overlay {
	z-index: 2147483647;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and ( max-width: 767px ) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%;
  }

  .row-offcanvas-right.active {
    right: 50%;
  }

  .row-offcanvas-left.active {
    left: 50%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
  }
}
