<div class="container">
  <header>
    <br>
  </header>
<!-- The main control -->
  <section class="row row-offcanvas row-offcanvas-right">
    <main class="col-xs-12 col-sm-9">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <article class="well">
        <div id="remote" class="embed-responsive embed-responsive-16by9">
          <div id="remote-video" class="embed-responsive-item">
            <img id="stream" class="img-responsive img-rounded" src="" />
          </div>
        </div>
      </article>
<!-- remote control -->
      <section class="row">
      <!-- nothing -->
        <article class="col-xs-6 col-sm-4">
          <button type="button" class="btn btn-primary btn-lg btn-block" id="">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
          </button>
        </article>
      <!-- forward -->
        <article class="col-xs-6 col-sm-4">
          <button type="button" class="btn btn-primary btn-lg btn-block" id="forward">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
          </button>
        </article>
      <!-- nothing -->
      <article class="col-xs-6 col-sm-4">
        <button type="button" class="btn btn-primary btn-lg btn-block" id="">
          <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        </button>
      </article>
      <!-- left -->
        <article class="col-xs-6 col-sm-4">
          <button type="button" class="btn btn-primary btn-lg btn-block" id="left">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          </button>
        </article>
      <!-- backwards -->
        <article class="col-xs-6 col-sm-4">
          <button type="button" class="btn btn-primary btn-lg btn-block" id="backward">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
          </button>
        </article>
      <!-- right -->
        <article class="col-xs-6 col-sm-4">
          <button type="button" class="btn btn-primary btn-lg btn-block" id="right">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          </button>
        </article>
      </section>
<!-- speed control -->
      <section class="row">
        <article class="col-xs-12">
          <input type="range" id="speed" min="0" max="100" value="1" step="1" />
        </article>
      </section>
    </main>
<!-- side navigation -->
    <aside class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <a href="#" class="list-group-item active">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
      </div>
    </aside>
<!-- the footer with debug feedback -->
  </section>
  <footer>
    <textarea id="serverinfo" class="form-control" rows="5" readonly></textarea>
  </footer>
</div>
